version: '2'
services:
  elastic:
    image: djbnjack/elasticsearch
  kibana:
    image: kibana:5
    links:
      - elastic:elasticsearch
    ports:
      - "5601:5601"
  logstash:
    image: logstash:5
    links:
      - elastic:elasticsearch
    ports:
      - "12201:12201/udp"
    command: [/docker-entrypoint.sh, -e, 'input {gelf {}} output {elasticsearch { hosts=>"elasticsearch" } stdout { }}']
